@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
    --primary: rgb(20, 96, 209);
    --dark: rgb(3, 26, 75);
    --body: rgb(121, 115, 115);
    --sectext: yellow;
    --tertext: rgb(8, 236, 8);

}

body {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.7;
    color: var(--body);
    /* background-image: url(./media/bg5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%); */
}

body::-webkit-scrollbar{
    display: none;
}



.bg-img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: grayscale(60%);
}

/* .bg-img{
    background-image: url(./media/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
    filter: grayscale(100%);
} */

.navbar .logo{
    width: 78px;
}

.navbar .nav-link{
    font-size: 14px;
}

.navbar .btn{
    color: white;
}
.navbar .btn:hover{
    color: black;
}

/* .hero {
    position: relative;
    z-index: 2;
} */

/* .hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

.hero h1{
    font-size: 72px;
    letter-spacing: 1px;
    background: -webkit-radial-gradient(rgb(94, 5, 145),rgb(233, 10, 10),rgb(253, 189, 13));
    /* background: -webkit-linear-gradient(#fff,#333,red); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
}


.hero p{
    color: var(--sectext)
}

.hero .icon1{
    width: 150px;
}
.hero .icon2{
    width: 300px;
}
.hero .icon3{
    width: 100px;
}

.top-line{
    font-size: 20px;
    color: white;
}

.ter-text{
    font-size: 20px;
    color: var(--tertext);
    cursor: pointer;
}
.ter-text::after{
    content: "";
    background-color: var(--tertext);
    height: 2px;
    width: 0%;
    display: block;
    /* left: 0; */
    /* bottom: px; */
}
.ter-text:hover::after{
    content: "";
    background-color: var(--tertext);
    height: 2px;
    width: 100%;
    display: block;   
    transition: .2s ease-in-out;
    animation: glitch 1s linear infinite;
}

.quat-text{
    font-size: 20px;
    letter-spacing: 3px;
    color: rgb(201, 197, 197);
    transition: .3s ease-in-out;
}

.quat-text:hover{
    letter-spacing: 6px;
}

.flex-1{
    flex: 1;
}

section.about h1{
    font-size: 20px;
}

section.about h1 span{
    font-size: 40px;
    background: -webkit-radial-gradient(rgb(94, 5, 145),rgb(233, 10, 10),rgb(253, 189, 13));
    /* background: -webkit-linear-gradient(#fff,#333,red); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.about h3{
 font-size: 20px;
}

section.about p{
    color: rgb(94, 5, 145);
    line-height: 1.9rem;
    margin-bottom: 2rem;
}

section.about h3 span{
    font-size: 40px;
    background: -webkit-radial-gradient(rgb(94, 5, 145),rgb(233, 10, 10),rgb(253, 189, 13));
    /* background: -webkit-linear-gradient(#fff,#333,red); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .1s ease-in-out;    
}

section.about .socials a{
    width: 35px;
    border-radius: 50%;

}

section.about .socials a:hover{
    background: rgb(86, 228, 150);
}
